  <h1><%= @movie.title %></h1>
  <%= form_with(model: [@user, @viewing_party], url: user_movie_viewing_parties_path(@user, @movie.id), local: true) do |form| %>
  
  <div class="form-group">
    <%= form.label :duration, "Duration of Party (minutes)" %>
    <%= form.number_field :duration, value: @movie.runtime %>
  </div>

  <div class="form-group">
    <%= form.label :date, "When:" %>
    <%= form.date_field :date %>
  </div>

  <div class="form-group">
    <%= form.label :start_time, "Start Time:" %>
    <%= form.time_field :start_time %>
  </div>

  <div class="form-group">
    <%= form.label :guest_1_email, "Guest 1 Email:" %>
    <%= form.text_field :guest_1_email, name: 'guest_1_email' %>
  </div>

  <div class="form-group">
    <%= form.label :guest_2_email, "Guest 2 Email:" %>
    <%= form.text_field :guest_2_email, name: 'guest_2_email' %>
  </div>

  <div class="form-group">
    <%= form.label :guest_3_email, "Guest 3 Email:" %>
    <%= form.text_field :guest_3_email, name: 'guest_3_email' %>
  </div>

  <%= form.submit "Create Viewing Party", class: "btn btn-primary" %>
<% end %>
